.App {
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.aimHome {
  background-color: grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: space-between;
  width: 1000px;
}

.aimBody {
  background-color: blue;
  border-radius: 20px;
  height: 60%;
  margin: 10px;
  padding: 10px;
}

.commandBox {
  background-color: red;
  border-radius: 20px;
  height: 100%;
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.acHeading {
  background-color: green;
  border-radius: 20px;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.actionCards {
  background-color: brown;
  height: 100%;
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: row;
}

.actionCard {
  background-color: pink;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  width: 31%;
  display: flex;
  flex-direction: column;
}

.actionCard img {
  /* align-items: center; */
  align-self: center;
  height: 100%;
  /* width: 100%; */
}
