.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.Box {
  background-color: grey;
  height: 700px;
  width: 950px;
}
