.app {
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.machine {
  background-color: green;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: space-between;
  width: 1000px;
  padding: 10px;
}

.marquee {
  border: 2px solid darkgrey;
  background-color: brown;
  border-radius: 20px;
  height: 60%;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marquee:hover {
  border: 2px solid black;
  background-color: lightblue;
}

.marqueeText {
  color: gold;
  text-shadow: -10px 0 black, 0 10px black, 10px 0 black, 0 -10px black;
  font-size: 180px;
  font-family: impact;
}

.console {
  border: 2px solid darkgrey;
  background-color: purple;
  border-radius: 20px;
  height: 100%;
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.pointsBoard {
  border: 2px solid black;
  background-color: lightblue;
  border-radius: 20px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.points {
  font-size: 50px;
  font-family: impact;
}

.wheel {
  border: 2px solid gold;
  background-color: brown;
  border-radius: 20px;
  height: 100%;
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: row;
}

.window {
  border: 2px solid black;
  background-color: pink;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  width: 31%;
  display: flex;
  flex-direction: column;
}

.window img {
  align-self: center;
  height: 100%;
}
