@font-face {
  font-family: 'Impact';
  font-style: normal;
  font-weight: normal;
  src:
    local('Impact'),
    local('Impact'),
    url('./fonts/impact.ttf')
    format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: Impact, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
