.wheel {
  border: 2px solid gold;
  background-color: brown;
  border-radius: 20px;
  height: 100%;
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: row;
}

.window {
  border: 2px solid black;
  background-color: pink;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  width: 31%;
  display: flex;
  flex-direction: column;
}

.window img {
  align-self: center;
  height: 100%;
}

.blink {
  animation: blink-animation 0.5s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
