.window {
  border: 2px solid black;
  background-color: pink;
  border-radius: 1.5vmin;
  padding: 0.8vmin;
  display: grid;
  place-items: center;
}

.window:active {
  border: 2px solid black;
  background-color: lightblue;
}

.window img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
